<div class="buttons">
  <div [ngClass]="{disabled: !canAdd}"
       class="button">
    <div (click)="add()"
         class="emitter">Add
    </div>
  </div>
  <div [ngClass]="{disabled: !canRemove}"
       class="button">
    <div (click)="remove()"
         class="emitter">Remove
    </div>
  </div>
  <div class="button">
    <div (click)="randomize()"
         class="emitter">Randomize
    </div>
  </div>
</div>

<div class="assignments">
  <h1>Summoner</h1>
  <h1>Role</h1>
  <h1>Champion</h1>
  <ng-container *ngFor="let summoner of summoners; index as index; trackBy: trackBy">
    <lr-summoner (valueChange)="valueChange($event, index)"
                 [name]="summoner"></lr-summoner>
    <lr-role></lr-role>
    <lr-champion></lr-champion>
  </ng-container>
</div>
